@import '../../../../docs/css/mixin.scss';

.buttonGrid
{
    ul {
        text-align: center;
        margin-top: 30px;

        li {
            a {
                color: $textColor;

                &:hover {
                    text-decoration: none;
                    color: $baseColor;
                }
            }
        }
    }
}

.viewCompaniesApp {
    background: #fff;
    //display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.06);

    .viewCompaniesLeft {
        //width: 300px;

        @media (max-width:767px) {
            width: 100%;
        }

        .searchCompanies {
            background: #ebedfb;

            div {
                min-height: 70px;

                &::before,
                &::after {
                    display: none;
                }

                input {
                    padding: 0 20px;

                    &::placeholder {
                        opacity: 1;

                    }
                }
            }

            .companiesScrollBar {
                height: 770px;
              
                .scrollbar-container.vertical {
                  width: 7px;
                  opacity: .05;
              
                  &:hover {
                    opacity: .1;
                  }
                }
              }

            .searchCompaniesIcon {
                width: 70px;
                margin-left: 0;
                justify-content: center;
                cursor: pointer;
            }
        }

        .companiesList {
            .companiesLink {
              display: flex;
              align-items: center;
              padding: 20px;
              border-top: 1px solid #EAEAF5;
              border-bottom: 1px solid #EAEAF5;
              border-right: 1px solid #EAEAF5;
              border-left: 1px solid #EAEAF5;
              margin-top: -1px;
              padding-right: 80px;
              position: relative;
              transition: all .4s ease;
              cursor: pointer;
      
              @media (max-width: 1600px) {
                display: block;
              }
      
              @media (max-width: 767px) {
                padding: 20px 0px;
              }
      
              &:hover {
                box-shadow: 1px 0px 15px rgba(0, 0, 0, .1);
              }
      
              .companiesAutorImg {
                width: 150px;
      
                img {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                }
              }
      
              .companiesAutorContent {
                h4 {
                  font-size: 18px;
                  margin-bottom: 0;
                  display: flex;
                  align-items: center;
                  line-height: 35px;
                  text-transform: capitalize;
                  justify-content: space-between;
      
                  @media (max-width: 1600px) {
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                  }
      
                  @media (max-width: 767px) {
                    display: block;
                  }
      
                }
      
                h5 {
                  color: $headingColor;
                  font-weight: 400;
                  margin-bottom: 0;
                  font-size: 12px;
                  line-height: 18px;
      
                  span {
                    display: inline-block;
                    margin-left: 15px;
                  }
                }
      
                p {
                  font-size: 14px;
                  line-height: 24px;
                  margin-bottom: 0;
                  margin-top: 5px;
                  color: $textColor;
                }
      
                .commentsWrap {
                  font-size: 14px;
                  font-weight: 400;
                  color: #98a6ad;
      
                  @media (max-width: 767px) {
                    top: 75px;
                    transform: translateY(0);
                  }
      
                  i {
                    margin-right: 3px;
                  }
                }
              }
            }
      
            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
    }
}

.chatAppHead {
    min-height: 71px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    @media (max-width:767px) {
        border-left: none;
    }

    h3 {
        text-transform: capitalize;
    }
}
.responsiveTable {
  overflow-x: auto;
}

.postTable {
  min-width: 900px;

  thead {
    tr {
      th {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1px;
        color: #878AA0;
        border-bottom: 1px solid #F1F1F5;
        padding-top: 0;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  tbody {
    tr {

      td,
      th {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.1px;
        color: #111026;
        border-bottom: 1px solid #F1F1F5;

        &:first-child {
          padding-left: 0;
        }

        .flex {
          display: flex;
          align-items: center;
        }

        .icon {
          height: 50px;
          width: 50px;
          flex-basis: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 15px;
          display: inline-block;
          vertical-align: middle;
        }

        strong {
          display: inline-block;
        }

        strong {
          &.Medium {
            color: #F1682C;
          }

          &.High {
            color: #3B53DB;
          }

          &.Pending {
            color: #F1682C;
          }

          &.Received {
            color: #0EB7FE;
          }

          &.Canceled {
            color: #BD20D3;
          }
        }

        .progress {
          background: #E7F8FF;
          height: 10px;
          border-radius: 10px;
          position: relative;
          z-index: 1;

          .pBar {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 10px;
            height: 100%;
            background: #0EB7FE;
          }
        }
      }

      &:last-child {

        th,
        td {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}
.companyInfoWrap {
  background: #fff;
  padding: 30px;
  text-align: center;
  margin-bottom: 32px;
  border-radius: 4px;

  .companyInfoImg {
      margin-bottom: 20px;

      img {
          width: 150px;
          border-radius: 50%;
          border: 5px solid #f1f1f1;
      }
  }

  .companyInfoContent {
      h4 {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 5px;
      }

      p {
          margin-top: 0;
          margin-bottom: 20px;
      }

      ul {
          display: flex;
          justify-content: center;

          li {
              margin-right: 10px;

              &:last-child {
                  margin-right: 0;

                  button {
                      background: $baseColor;
                  }
              }

              button,
              a {
                  width: 100px;
                  height: 35px;
                  background: $baseColor;
                  text-transform: capitalize;
                  span {
                      color: #fff;
                  }
              }
          }
      }
  }
}

.modalWrapper {
  overflow-y: auto;

  h2 {
    display: flex;
    justify-content: space-between;

    .closeModal {
      font-size: 14px;
      cursor: pointer;
    }
  }

  .modalInner {
    background: #fff;
    padding: 30px 50px;
    box-shadow: none;
    outline: none;
    width: 700px;
    max-width: 95%;
    margin: 50px auto;
    border-radius: 5px;

    form {
      margin-top: 50px;

      button {
        margin-top: 20px;
      }
    }

    .formInput {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 576px) {
  .modalHead{
    max-width: 350px;
  }
}
.modalHead{
  width: 600px;
}

.modalContent{
  display: flex; 
  justify-content: space-between; 
  flex-direction: row; 
  width: 100%; 
  margin-top: 10px;
  margin-bottom: 10px; 
  align-items: center;
}

.addCompany {
  span {
      display: block;
      margin-bottom: 3px;
      text-transform: capitalize;
      font-size: 14px;
  }

  h4 {
      margin-bottom: 0;
      padding: 15px;
      background: #fafafa;
  }
}
